.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
  padding: 10px 20px 15px 20px;
  background-color: rgba(2,45,88,0.95);
  border-radius: 8px;
  border: none;
}
h1{
  color: #dedee0;
}
.label{
  align-self: flex-start;
  margin-top: 35px;
  font-size: 19px;
  font-weight: bold;
  color: #dedee0;
}
.input{
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  font-size: 17px;
  background-color: #dfdfe0;
}
button{
  width: 100%;
  height: 45px;
  font-size: 23px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dedee0;
  background-color: rgba(4, 252, 252, 0.5);
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

@media screen and (min-width: 600px){
  .form{
    width: 55%;
    height: 80vh;
    padding: 20px 25px 30px 25px;
  }
}

@media screen and (min-width: 760px){
  .form{
    width: 50%;
  }
}

@media screen and (min-width: 990px){
  .form{
    width: 40%;
  }
}


@media screen and (min-width: 1200px){
  .form{
    width: 30%;
  }
}

/* #70869b */
/* #022d58 */